body{
    background-color: #ddd3ee !important;
}


#weather {
    font-family: "Akaya Kanadaka", cursive !important;
    text-align: right;
    color: #4B0082;
    padding: 10px;
}

.icondesc{
    display: inline-flex;
}



